.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--surface);
  z-index: 9999;

  > div {
    padding: 1rem 0;
    max-width: 1080px;
  }
}
